.pokemon-list{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px 20px;
}

.pokemon-item{
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  flex-direction: column;
  background-color: #5f9ea0;
}